* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
}

.form-box {
  width: 40vw;
  background: rgba(0, 0, 0, 0.8);
  margin: 20vh auto;
  padding: 50px 0;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Lobster", cursive;
  font-size: 3em;
}

.input-box {
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-box input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

::placeholder {
  color: #ccc;
}

.fa {
  margin-right: 10px;
}

.eye {
  position: absolute;
}

#hide1 {
  display: none;
}

.login-btn {
  margin: 20px auto 0px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.login-btn:hover {
  background: #fff;
  color: #000;
}
