* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 2% auto auto auto 2%;
  grid-template-rows: 5% 95%;
  grid-template-areas:
    "header header header header header"
    ". main main main .";
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
}

.missatge {
  padding: 3%;
  font-size: 2em;
}

ul {
  padding: 0.5%;
  list-style-type: none;
  overflow: hidden;
  background: #c9231d;
  text-align: center;
}

ul li {
  float: left;
  font-family: "Lobster", cursive;
  color: #fff;
  font-size: 1.75em;
  font-weight: bold;
}

#buttons {
  width: 28%;
  height: 50px;
  float: right;
}

#buttons button {
  width: 20%;
  height: 78%;
  background: #c9231d;
  color: #fff;
  border-radius: 5px;
}

#buttons button:hover {
  background: #d9534f;
  box-shadow: 0 0 10px #fff;
}

#nova {
  width: 100%;
  margin-top: 1.5%;
  padding: 0.5% 10%;
  background: #c9231d;
  color: #fff;
  border-radius: 5px;
}

#nova:hover {
  background: #d9534f;
  box-shadow: 0 0 10px #fff;
}

#partitures {
  margin-top: 1%;
  height: 85%;
  overflow-y: auto;
}

table {
  width: 100%;
  text-align: left;
}

table tr th:nth-child(1) {
  width: 45%;
}

table tr th:nth-child(2) {
  width: 20%;
}

table tr th:nth-child(3) {
  width: auto;
}

th {
  border: 1px solid #fff;
  position: sticky;
  top: 0;
  background: #c9231d;
  color: #fff;
  text-align: center;
  font-weight: normal;
  padding: 3px 0;
}

tr {
  background: #fff;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

td {
  padding-left: 0.3%;
}

td button {
  background: none;
  border: none;
}

td button:hover {
  background: #f2f2f2;
  border: solid 1px #000;
  border-radius: 3px;
}
