* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1% auto auto auto 1%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header header header header header"
    ". main main main .";
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
  font-size: 1.1em;
}

ul {
  padding: 0.5%;
  list-style-type: none;
  overflow: hidden;
  background: #c9231d;
  text-align: center;
}

ul li {
  float: left;
  font-family: "Lobster", cursive;
  color: #fff;
  font-size: 1.75em;
  font-weight: bold;
}

.input-form {
  margin-bottom: 1%;
}

p {
  margin-top: 1%;
}

input[type="text"] {
  width: 30%;
  padding: 1.2em 1.6em;
  margin: 0.8em 0;
  border: 0.2em solid #ccc;
  border-radius: 0.4em;
  font-size: 0.7em;
}

select {
  width: 30%;
  padding: 1.2em 1.6em;
  margin: 0.8em 0;
  border: 0.2em solid #ccc;
  border-radius: 0.4em;
  font-size: 0.7em;
  background: #fff;
}

button {
  padding: 0.5%;
  margin: 0.8em 0;
  border: 0.2em solid #ccc;
  border-radius: 0.4em;
}

button:hover,
select:hover,
input[type="text"]:hover {
  background: #fff;
  box-shadow: 0 0 1em #000;
}

#trad {
  width: 50%;
  height: 10vh;
  overflow-y: scroll;
}

#pentagrama {
  margin: auto;
  width: 60%;
  display: flex;
}

#pentagrama {
  width: 45%;
  margin: auto;
}

.temps {
  width: 100%;
}

.temps div {
  width: 100%;
  border-right: 0.1em dashed black;
}

.negre {
  height: 0.5em;
  background: #000;
}

.blanc {
  height: 1.5em;
  background: #fff;
}

.esborra {
  color: #fff;
  background: #c9231d;
  width: 55%;
  height: 2.5em;
}

.esborra:hover {
  background: #d9534f;
}

#inferior {
  display: flex;
  justify-content: center;
}

#notes {
  margin-top: 15px;
  width: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 3.5vw;
  height: 6.4vh;
}

.negre img {
  margin-top: -3.7vw;
}
.blanc img {
  margin-top: -2vw;
}

#notes button {
  margin-left: 1em;
  color: #fff;
  background: #c9231d;
  width: 70%;
  height: 3em;
}

video {
  border: 1px solid black;
  border-radius: 10px;
}

#webcam {
  width: 20%;
  margin-left: 1em;
}

#webcam p {
  font-family: "Anton", sans-serif;
}

#webcam input {
  width: 85%;
  height: 20%;
  margin-bottom: 0;
}

#webcam button {
  margin-right: 1em;
  color: #fff;
  background: #c9231d;
  width: 40%;
  height: 3em;
}
