:root {
  --bt-color: #c9231d;
  --bt-hover-color: #d9534f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    ". main main main ."
    ". footer footer footer .";
  width: 100%;
  background: url("../img/background.jpg");
  position: relative;
}

header {
  grid-area: header;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 25px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
}

main {
  grid-area: main;
}

.piano {
  height: 30vh;
  border-radius: 10px;
  background: url("../img/piano-background.jpg");
}

.whites {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.key {
  background: red;
  width: 6%;
  height: 28vh;
  background: #fff;
  box-shadow: inset 0 0 30px grey;
  margin: 5px;
  border-radius: 1px;
}

.whites div:nth-child(1) {
  position: absolute;
  left: 22.5%;
}
.whites div:nth-child(2) {
  position: absolute;
  left: 29.5%;
}
.whites div:nth-child(3) {
  position: absolute;
  left: 36.5%;
}
.whites div:nth-child(4) {
  position: absolute;
  left: 43.5%;
}
.whites div:nth-child(5) {
  position: absolute;
  left: 50.5%;
}
.whites div:nth-child(6) {
  position: absolute;
  left: 57.5%;
}
.whites div:nth-child(7) {
  position: absolute;
  left: 64.5%;
}
.whites div:nth-child(8) {
  position: absolute;
  left: 71.5%;
}

.whites div:hover {
  background: rgb(221, 221, 221);
  box-shadow: inset 0 0 30px rgb(75, 75, 75);
}

.sharps {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sharp {
  z-index: 5;
  width: 5%;
  height: 15vh;
  background: #000;
  box-shadow: inset 10 10 20px grey;
}

.sharps div:nth-child(1) {
  position: absolute;
  left: 26.4%;
}

.sharps div:nth-child(2) {
  position: absolute;
  left: 33.5%;
}

.sharps div:nth-child(3) {
  position: absolute;
  left: 47.4%;
}

.sharps div:nth-child(4) {
  position: absolute;
  left: 54.4%;
}

.sharps div:nth-child(5) {
  position: absolute;
  left: 61.4%;
}

.sharps div:hover {
  background: rgb(48, 48, 48);
  box-shadow: inset 10 10 20px grey;
}

.form {
  width: 100%;
  text-align: center;
  padding: 3%;
  margin-top: 2%;
  height: 44vh;
  border-radius: 10px;
  background: #fff;
}

.form button {
  height: 3.5vh;
  padding: 0.5%;
  background: var(--bt-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form button:hover {
  background: var(--bt-hover-color);
  box-shadow: 0 0 10px #000;
}

.cerca {
  width: 50%;
  height: 10vh;
  display: inline-block;
}

.cerca span {
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
}

.cerca p {
  margin-top: 5%;
}

.cerca button {
  margin-top: 5%;
  padding: 2%;
}

.resultat {
  width: 100%;
  height: 40%;
  text-align: center;
  margin-top: 3%;
}

.resultat span:nth-child(1) {
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
}

.resultat p {
  margin-top: 2%;
}

.resultat a {
  text-decoration: none;
  color: var(--bt-color);
}

#lletra {
  height: 5vh;
  width: 100%;
  overflow-y: scroll;
}

#lletraCanço {
  background-color: transparent;
  color: var(--bt-color);
}

#lletraCanço:hover {
  background-color: transparent;
  color: var(--bt-hover-color);
  font-weight: bold;
  box-shadow: none;
}

.canço {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.75%;
}

.text {
  width: 18%;
  text-align: left;
}

#cançons {
  height: 80%;
  overflow-y: scroll;
}

input[type="submit"] {
  background: none;
  border: none;
  color: var(--bt-color);
}

input[type="submit"]:hover {
  border-bottom: solid 1px var(--bt-color);
}

/* MODAL */

#myModal {
  display: none;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 25%;
  width: 100%;
}

.modal-header {
  height: 15%;
  padding: 2px 16px;
  background-color: var(--bt-color);
  color: white;
  text-align: center;
  border-radius: 10px;
  font-family: "Anton", sans-serif;
  letter-spacing: 1.5px;
}

.modal-header h2 {
  margin-top: 2vh;
}

.modal-body {
  padding: 2px 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal-body div {
  margin: 3% 0 5%;
}

.modal-body div:nth-child(2) {
  margin: 3% 0 3%;
}

.modal-body h3 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

.modal-body div p:only-child {
  margin: 1% 0 0.5%;
  overflow-y: scroll;
  height: 10vh;
}

.modal-body div button {
  width: 15%;
  height: 3vh;
  background: var(--bt-color);
  color: #fff;
  border-radius: 5px;
  margin-right: 2%;
}

.modal-body div i {
  margin-left: 5%;
}

.tanca {
  width: 100%;
  height: 3vh;
  background: var(--bt-color);
  color: #fff;
  border-radius: 5px;
}

#myModal button:hover {
  background: var(--bt-hover-color);
  box-shadow: 0 0 10px #000;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid var(--bt-color);
  border-radius: 10px;
  width: 50%;
  height: 60vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -70vh;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

footer {
  grid-area: footer;
  margin: 2% 0 3%;
  display: grid;
}

.videos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
}

footer video {
  width: 31%;
  border-radius: 5px;
}

footer button {
  background: var(--bt-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 15%;
  height: 3vh;
  margin-top: 1.5%;
  justify-self: center;
}

footer button:hover {
  background: var(--bt-hover-color);
  box-shadow: 0 0 10px #000;
}
