<template>
  <div class="principal">
    <header>
      <h1>Score Finder</h1>
    </header>

    <main>
      <div class="piano">
        <div class="sharps">
          <div id="doG" class="key sharp" @click="playNota($event)" data-name="DO" data-type="SOSTINGUT">
            <audio>
              <source src="../assets/audio/do-sust.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="reG" class="key sharp" @click="playNota($event)" data-name="RE" data-type="SOSTINGUT">
            <audio>
              <source src="../assets/audio/re-sust.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="faG" class="key sharp" @click="playNota($event)" data-name="FA" data-type="SOSTINGUT">
            <audio>
              <source src="../assets/audio/fa-sust.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="solG" class="key sharp" @click="playNota($event)" data-name="SOL" data-type="SOSTINGUT">
            <audio>
              <source src="../assets/audio/sol-sust.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="laG" class="key sharp" @click="playNota($event)" data-name="LA" data-type="SOSTINGUT">
            <audio>
              <source src="../assets/audio/la-sust.ogg" type="audio/ogg">
            </audio>
          </div>
        </div>
        <div class="whites">
          <div id="do" class="key" @click="playNota($event)" data-name="DO" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/do.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="re" class="key" @click="playNota($event)" data-name="RE" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/re.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="mi" class="key" @click="playNota($event)" data-name="MI" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/mi.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="fa" class="key" @click="playNota($event)" data-name="FA" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/fa.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="sol" class="key" @click="playNota($event)" data-name="SOL" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/sol.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="la" class="key" @click="playNota($event)" data-name="LA" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/la.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="si" class="key" @click="playNota($event)" data-name="SI" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/si.ogg" type="audio/ogg">
            </audio>
          </div>
          <div id="do2" class="key" @click="playNota($event)" data-name="DO7" data-type="NORMAL">
            <audio>
              <source src="../assets/audio/do7.ogg" type="audio/ogg">
            </audio>
          </div>
        </div>
      </div>
      <div class="form">
        <div class="cerca">
          <span>CERCANT...</span>
          <p id="lletra">{{cercaFormatada}}</p>
          <button type="button" id="esborrar" @click="buidaCerca">Esborrar</button>
        </div>
        <div class="resultat">
          <span>RESULTATS:</span>
          <div id="cançons">
            <div :key="r.id" v-for="r in resultats">
              <div class="canço">
                <div class="text">
                  <p>{{r.titol}}</p>
                  <button type="button" id="lletraCanço" @click="createModal(r)">Lletra</button>
                </div>
                <button :id="'button'+r.id" type="button" @click="playSong(r, r.id)">Reproduir cançó</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="videos">
        <video width="400" controls>
          <source
            src="../assets/video/jaime_altozano_piano_basico.mp4"
            type="video/mp4"
          />
        </video>
        <video width="400" controls>
          <source
            src="../assets/video/jaime_altozano_piano_intermedio.mp4"
            type="video/mp4"
          />
        </video>
        <video width="400" controls>
          <source
            src="../assets/video/jaime_altozano_promo.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <button type="button" id="picture">Picture in Picture</button>
    </footer>
  </div>
</template>

<script>
import {Nota} from "../assets/js/models/Nota.js";
import {
        getPartitures,
        addCerca,
        cercador,
      } from "../assets/js/services/PartituraService.js";
export default {
  name: 'Piano',
  data() {
    return {
      cerca: [],
      cercaFormatada: "",
      resultats: [],
      partitures: [],
    }
  },
  async created() {
    const token = localStorage.getItem("token");

    //if (token) {
      this.partitures = await getPartitures(token);
    //}

    window.addEventListener("keydown", (event) => {
      const keyName = event.key;
      let nota = "";
      let tipus = "";

      switch (keyName) {
        case "s":
          nota = "DO";
          tipus = "NORMAL";
          break;

        case "d":
          nota = "RE";
          tipus = "NORMAL";
          break;

        case "f":
          nota = "MI";
          tipus = "NORMAL";
          break;

        case "g":
          nota = "FA";
          tipus = "NORMAL";
          break;

        case "h":
          nota = "SOL";
          tipus = "NORMAL";
          break;

        case "j":
          nota = "LA";
          tipus = "NORMAL";
          break;

        case "k":
          nota = "SI";
          tipus = "NORMAL";
          break;

        case "l":
          nota = "DO7";
          tipus = "NORMAL";
          break;

        case "e":
          nota = "DO";
          tipus = "SOSTINGUT";
          break;

        case "r":
          nota = "RE";
          tipus = "SOSTINGUT";
          break;

        case "y":
          nota = "FA";
          tipus = "SOSTINGUT";
          break;

        case "u":
          nota = "SOL";
          tipus = "SOSTINGUT";
          break;

        case "i":
          nota = "LA";
          tipus = "SOSTINGUT";
          break;
      }
    if (nota !== "") this.playNotaTeclat(nota, tipus);
    })
  },
  methods: {
    play(nota) {
      let x;
      clearTimeout(x);
      x = setTimeout(() => {
        let audio = new Audio(nota);
        audio.volume = 0.3;
        audio.play();
      });
    },

    pintaLletra(cerca) {
      let cercaFormatada = "";

      cerca.forEach((c) => {
        (c.alteracio === "SOSTINGUT") ? cercaFormatada += `${c.nom}# ` : (c.nom.includes("7")) ? cercaFormatada += `${c.nom.replace("7", "'")} ` : cercaFormatada += `${c.nom} `;
      });

      this.cercaFormatada = cercaFormatada;
    },

    buidaCerca() {
      this.cercaFormatada = "";
      this.cerca = [];
      this.resultats = [];
    },

    playNotaTeclat(nota, tipus) {
      (tipus === "SOSTINGUT") ? this.play(`./assets/audio/${nota.toLowerCase()}-sust.ogg`) : this.play(`./assets/audio/${nota.toLowerCase()}.ogg`);
      console.log(`./assets/audio/${nota.toLowerCase()}"-sust.ogg"`)
      this.cerca = addCerca(new Nota(0, nota, tipus, 0), this.cerca);
      this.pintaLletra(this.cerca);
      this.resultats = this.partitures;
      this.resultats = cercador(this.cerca, this.partitures);
    },

    playNota(event) {
      const nota = event.currentTarget.getAttribute('data-name');
      const tipus = event.currentTarget.getAttribute("data-type");

      (tipus === "NORMAL") ? this.play(`./assets/audio/${nota.toLowerCase()}.ogg`) : this.play(`./assets/audio/${nota.toLowerCase()}-sust.ogg`)
      this.cerca = addCerca(new Nota(0, nota, tipus, 0), this.cerca);
      this.pintaLletra(this.cerca);
      this.resultats = this.partitures;
      this.resultats = cercador(this.cerca, this.partitures);
    },

    playSong(c, id) {
      let initial = c.notes.length * 1000;
                let count = initial;
                let counter;
                let initialMillis = Date.now();
                clearInterval(counter);
                counter = setInterval(timer, 1);

                function timer() {
                  if (count <= 0) {
                    clearInterval(counter);
                    return;
                  }
                  let current = Date.now();
                  count = count - (current - initialMillis);
                  initialMillis = current;
                  displayCount(count);
                }

                function displayCount(count) {
                  let boto = document.querySelector(`#button${id}`);
                  let res = Math.floor(count / 1000);
                  let milliseconds = count.toString().substr(-3);
                  let seconds = res;
                  let minutes = 0;
                  let hours = 0;

                  while (seconds > 60) {
                    seconds = seconds - 59;
                    minutes++;
                  }

                  while (minutes > 60) {
                    minutes = minutes - 59;
                    hours++;
                  }

                  if (
                    hours <= 0 &&
                    minutes <= 0 &&
                    seconds <= 0 &&
                    milliseconds <= 0
                  ) {
                    boto.innerHTML = "Reproduir cançó";
                  } else {
                    boto.innerHTML = `${("0" + hours).slice(-2)}:${(
                      "0" + minutes
                    ).slice(-2)}:${("0" + seconds).slice(-2)}.${milliseconds}`;
                  }
                }

                let count2 = 0;
                let interval = setInterval(reprodueixCanço, 1000);

                function reprodueixCanço() {
                  let nota = c.notes[count2];

                  if (c.notes.length != count2) {
                    if (nota.alteracio == "SOSTINGUT") {
                      if ((nota.nom = "DO")) {
                        nota.nom = nota.nom + "-sust";
                      } else {
                        nota.nom = nota.nom.replace("#", "-sust");
                      }
                    } else if (nota.nom.includes("_AGUT")) {
                      nota.nom = nota.nom.replace("_AGUT", "7");
                    }
                    this.play(`./assets/audio/${nota.nom}.ogg`);
                    count2++;
                  } else {
                    clearInterval(interval);
                  }
                }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    ". main main main ."
    ". footer footer footer .";
  width: 100%;
  background: url("../assets/img/background.jpg");
  position: relative;
}

header {
  grid-area: header;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 25px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  color: #000;
}

main {
  grid-area: main;
}

.piano {
  height: 30vh;
  border-radius: 10px;
  background: url("../assets/img/piano-background.jpg");
}

.whites {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.key {
  background: red;
  width: 6%;
  height: 28vh;
  background: #fff;
  box-shadow: inset 0 0 30px grey;
  margin: 5px;
  border-radius: 1px;
}

.whites div:nth-child(1) {
  position: absolute;
  left: 22.5%;
}
.whites div:nth-child(2) {
  position: absolute;
  left: 29.5%;
}
.whites div:nth-child(3) {
  position: absolute;
  left: 36.5%;
}
.whites div:nth-child(4) {
  position: absolute;
  left: 43.5%;
}
.whites div:nth-child(5) {
  position: absolute;
  left: 50.5%;
}
.whites div:nth-child(6) {
  position: absolute;
  left: 57.5%;
}
.whites div:nth-child(7) {
  position: absolute;
  left: 64.5%;
}
.whites div:nth-child(8) {
  position: absolute;
  left: 71.5%;
}

.whites div:hover {
  background: rgb(221, 221, 221);
  box-shadow: inset 0 0 30px rgb(75, 75, 75);
}

.sharps {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sharp {
  z-index: 5;
  width: 5%;
  height: 15vh;
  background: #000;
  box-shadow: inset 10 10 20px grey;
}

.sharps div:nth-child(1) {
  position: absolute;
  left: 26.4%;
}

.sharps div:nth-child(2) {
  position: absolute;
  left: 33.5%;
}

.sharps div:nth-child(3) {
  position: absolute;
  left: 47.4%;
}

.sharps div:nth-child(4) {
  position: absolute;
  left: 54.4%;
}

.sharps div:nth-child(5) {
  position: absolute;
  left: 61.4%;
}

.sharps div:hover {
  background: rgb(48, 48, 48);
  box-shadow: inset 10 10 20px grey;
}

.form {
  width: 100%;
  text-align: center;
  padding: 3%;
  margin-top: 2%;
  height: 44vh;
  border-radius: 10px;
  background: #fff;
}

.form button {
  height: 3.5vh;
  padding: 0.5%;
  background: #c9231d;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form button:hover {
  background: #d9534f;
  box-shadow: 0 0 10px #000;
}

.cerca {
  width: 50%;
  height: 10vh;
  display: inline-block;
}

.cerca span {
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
}

.cerca p {
  margin-top: 5%;
}

.cerca button {
  margin-top: 5%;
  padding: 2%;
}

.resultat {
  width: 100%;
  height: 40%;
  text-align: center;
  margin-top: 3%;
}

.resultat span:nth-child(1) {
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
}

.resultat p {
  margin-top: 2%;
}

.resultat a {
  text-decoration: none;
  color:#c9231d;
}

#lletra {
  height: 5vh;
  width: 100%;
  overflow-y: scroll;
}

#lletraCanço {
  background-color: transparent;
  color: #c9231d;
}

#lletraCanço:hover {
  background-color: transparent;
  color: #d9534f;
  font-weight: bold;
  box-shadow: none;
}

.canço {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.75%;
}

.text {
  width: 18%;
  text-align: left;
}

#cançons {
  height: 80%;
  overflow-y: scroll;
}

input[type="submit"] {
  background: none;
  border: none;
  color: #c9231d;
}

input[type="submit"]:hover {
  border-bottom: solid 1px #c9231d;
}

/* MODAL */

#myModal {
  display: none;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 25%;
  width: 100%;
}

.modal-header {
  height: 15%;
  padding: 2px 16px;
  background-color: #c9231d;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-family: "Anton", sans-serif;
  letter-spacing: 1.5px;
}

.modal-header h2 {
  margin-top: 2vh;
}

.modal-body {
  padding: 2px 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal-body div {
  margin: 3% 0 5%;
}

.modal-body div:nth-child(2) {
  margin: 3% 0 3%;
}

.modal-body h3 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

.modal-body div p:only-child {
  margin: 1% 0 0.5%;
  overflow-y: scroll;
  height: 10vh;
}

.modal-body div button {
  width: 15%;
  height: 3vh;
  background: #c9231d;
  color: #fff;
  border-radius: 5px;
  margin-right: 2%;
}

.modal-body div i {
  margin-left: 5%;
}

.tanca {
  width: 100%;
  height: 3vh;
  background: #c9231d;
  color: #fff;
  border-radius: 5px;
}

#myModal button:hover {
  background: #d9534f;
  box-shadow: 0 0 10px #000;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #c9231d;
  border-radius: 10px;
  width: 50%;
  height: 60vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -70vh;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

footer {
  grid-area: footer;
  margin: 2% 0 3%;
  display: grid;
}

.videos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
}

footer video {
  width: 31%;
  border-radius: 5px;
}

footer button {
  background: #c9231d;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 15%;
  height: 3vh;
  margin-top: 1.5%;
  justify-self: center;
}

footer button:hover {
  background: #d9534f;
  box-shadow: 0 0 10px #000;
}

</style>
