<template>
  <div>
    <p>Login</p>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/Login.vue'

export default {
  name: 'Login',
  components: {
    Login
  }
}
</script>
