<template>
  <div>
    <PaginaPiano></PaginaPiano>
  </div>
</template>

<script>
// @ is an alias to /src
import PaginaPiano from '@/components/Piano.vue'

export default {
  name: 'Piano',
  components: {
    PaginaPiano
  }
}
</script>
